/********Table*********/
body {
  display: grid;
}
.table_header {
  justify-self: center;
}
table {
  margin: 10px;
  font-family: sans-serif;
  border-collapse: collapse;
  width: 99%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
